<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners> 
<listener class-name = "Test.Listeners"/>  
</listeners>
     
     <test thread-count="5" name="Tests">
    <classes>
         <class name="Test.CreateWSRBodyRecord"/>
      </classes>
     </test>
     
 	<test thread-count="5" name="Edits">
   
    <classes>
    
      	<class name="Test.CreateHeader"/>
      </classes>
     </test>
     
    <test thread-count="5" name="Edit">
   
    <classes>
    
      	<class name="Test.VerifyInputsBodyRecord"/>
      </classes>
     </test>
     
          
    <test thread-count="5" name="Edit">
   
    <classes>
    
      	<class name="Test.VerifyInputsHeader"/>
      </classes>
     </test>
   
   
   
     
</suite> <!-- Suite -->
